<form (ngSubmit)="postMessage()">
  <label for="author">Your Name:</label>
  <input type="text" id="author" required [(ngModel)]="newMessage.author" />
  <br />
  <label for="content">Message:</label>
  <textarea id="content" required [(ngModel)]="newMessage.content"></textarea>
  <br />
  <button type="submit">Post Message</button>
</form>

<div>
  <div *ngFor="let message of messages" class="message">
    <p>{{ message.author }}</p>
    <p>{{ message.timestamp | date : "medium" }}</p>
    <p>{{ message.content }}</p>
    <button (click)="addComment(message)">Add Comment</button>
    <div *ngFor="let comment of message.comments" class="comment">
      <p>{{ comment.author }}</p>
      <p>{{ comment.timestamp | date : "medium" }}</p>
      <p>{{ comment.content }}</p>
    </div>
  </div>
</div>
